.containerregister {
  display: flex;
  float: left;
}

.imageregister {
  top: 0rem;
  left: 0rem;
  width: 52.188rem;
  height: 67.5rem;
}

.formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 67.5rem;
  width: 67.813rem;
  background-color: #fbfbfb;
}
