.container{
    top: 0rem;
    left: 0rem;
    width: 120rem;
    height: 67.5rem;
    display: flex;
    flex-direction: column;
    
}

/*.homeimage{
    top: 6.25rem;
    left: 13.75rem;
    width: 92.5rem;
    height: 26.875rem;
    border-radius: 8px;
    opacity: 1;
}*/
